# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend_v2/node_modules
frontend_v2/.pnp
frontend_v2/.pnp.js

# testing
frontend_v2/coverage

# production
frontend_v2/build

# misc
frontend_v2/.DS_Store
frontend_v2/.env.local
frontend_v2/.env.development.local
frontend_v2/.env.test.local
frontend_v2/.env.production.local

frontend_v2/npm-debug.log*
frontend_v2/yarn-debug.log*
frontend_v2/yarn-error.log*

backend/node_modules
backend/.env
